/node_modules
/public/hot
/public/css
/public/js
/public/fonts
/public/mix-manifest.json
/public/storage
/storage/*.key
/vendor
/.vagrant
.env
.env.testing
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.php_cs.cache
/.db
.bash_history
.composer
.config
.npm
.aws
supervisord.pid
.phpunit.result.cache
_ide_helper.php
.DS_Store